
body { 
   text-align: center;
   padding: 2em;

  
}
/* #container { 
    border: 1px solid black;
    display:inline-block;

} */

/* .grid {
    border:1px solid red;
    height:20px;
    width:20px;

}
.line {
    display:flex;
} */